* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Class Start  */

.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.black {
    color: #252432;
}

.center {
    margin: 0 auto;
}

/* Utility Class END  */

 /*  Navbar Section Start  */

 header {
    background-image: url('./Assets/Hero-bg.png');
    padding: 0 150px 50px;
 }

nav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4E47FF;
}

nav h1 {
    font-size: 34px;
    font-weight: bold;
}

 /*  Navbar Section END  */


/* Banner Section Start  */

.banner {
    text-align: center;
    margin: 100px 120px;
}

.banner h1 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}

/* Banner Section END  */
