* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Class Start  */

.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.black {
    color: #252432;
}

.content-center {
    text-align: center;
}

/* Utility Class END  */

 /*  Navbar Section Start  */

 header {
    background-image: url('./Assets/Hero-bg.png');
    padding: 0 150px 50px;
 }

nav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4E47FF;
}

nav h1 {
    font-size: 34px;
    font-weight: bolder;
}

 /*  Navbar Section END  */

/* Banner Section Start  */

.banner {
    margin: 100px 120px;
}

.banner h1 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
}

/* Banner Section END  */

main {
    padding: 115px 150px 0;
    background-color: #f5f8ff;
}

/* Action Section Start  */

.action-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin: 120px 0;
}

.action-title {
    font-weight: bold;
    font-size: 42px;
}

.action-subtitle {
    font-size: 24px;
    margin: 23px 0;
    color: #8d8e98;
}

.action-section img {
    border-radius: 48px;
}

/* Action Section END  */

/* Productive Users Section Start */

.productive-users-section {
    background-color: #e5e7ff;
    border-radius: 24px;
    padding: 50px 142px;
}

.users-title {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
}

.users-activity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.users-activity h3 {
    color:  #4E47FF;
    font-weight: bold;
    font-size: 80px;
}

.users-activity span {
    font-size: 20;
    color: #8d8e98;
}
/* Productive Users Section END  */

/* Users Feedback Section Start  */

.feedback-section {
    margin: 137px 0;
}

.feedback-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 8px;
}

.feedback-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.user-feedback {
    background-color: white;
    border-radius: 14px;
    padding: 24px;
    margin-bottom: 10px;
}

.user-feedback-content {
    margin: 24px 0;
}

.user-feedback-content h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.user-identify {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-identify img {
    border-radius: 50%;
}
/* Users Feedback Section END  */

/* Let’s Get In Touch Section Start */

.touch-section {
    margin-top: 100px;
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
}

.touch-section h1 {
    font-weight: bold;
    font-size: 97px;
}

.touch-section form {
    display: flex;
    flex-direction: column;
}

.touch-section form input,textarea {
    padding: 20px 32px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 19px;
    margin-top: 10px;
}

/* Let’s Get In Touch Section  END*/